* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

header {
    padding: 20px 15px;
    position: absolute;
    z-index: 10;

    left: 0;
    right: 0;
    margin: 0 auto;
}

.Header__content {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header__nav {
    display: flex;
    align-items: center;
}

.Header__nav ul {
    list-style: none;
}

.Header__nav ul li a span {
    margin-right: 5px;
}

.Header__nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 20px 15px;

    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;


}

.Header__nav ul li a:hover {
    animation: spinUpAndColor 0.6s ease-out forwards;
    color: #ff6e8a;

}

@keyframes spinUpAndColor {

    0% {
        transform: rotatey(0deg);
        color: black;
    }

    50% {
        transform: translateY(-20px);
        color: rgb(255, 255, 255);
    }

    75% {
        transform: translateY(20px);
        color: rgb(255, 255, 255);
    }
}

.Header__nav ul li a i {
    font-size: 15px;
}

.Header__btn {
    padding: 20px 30px;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    white-space: nowrap;
    border: none;
    overflow: hidden;
    background-image: linear-gradient(to right,
            #ff6e8a 0%,
            #ffc07e 50%,
            #ff6e8a 100%);

    background-size: 200% 100%;
    background-position: 0% 0;
    transition: background-position 0.5s ease-in-out;
}

.Header__btn:hover {
    background-position: 100% 0;
}

/*  */
/* CAROUSEL */
/*  */


.Carousel {
    padding: 100px 0;
    position: relative;
    overflow: visible;
    background-image: url(/img/pic2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.Carousel__content {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Carousel__subtitle {
    color: #ff6e8a;
    font-size: 35px;
    margin-bottom: 20px;
}

.Carousel__title {
    font-size: 60px;
    margin-bottom: 20px;
}

.Carousel__des {
    color: #777;
    font-size: 20px;
    margin-bottom: 20px;
}

.Carousel__text li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 25px;
    color: #777;
    display: flex;
    align-items: center;
}

.Carousel__text i {
    margin-right: 15px;
    display: inline-block;
    padding: 5px;
    background-image: linear-gradient(to right, #ff6e8a 0%, #ffc07e 50%, #ff6e8a 100%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 1;
    font-size: 30px;
}

.Carousel__btn {
    padding: 20px 30px;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    white-space: nowrap;
    border: none;
    overflow: hidden;
    background-image: linear-gradient(to right,
            #ff6e8a 0%,
            #ffc07e 50%,
            #ff6e8a 100%);
    background-size: 200% 100%;
    background-position: 0% 0;
    transition: background-position 0.5s ease-in-out;
    cursor: pointer;
    margin-top: 35px;
}

.Carousel__btn:hover {
    background-position: 100% 0;
}
/*  */
/* Service */
/*  */
.Service {
    position: relative;
    overflow: hidden;
    background-image: url(img/bg2.png);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.Service__content {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;
}

.Service__text {
    text-align: center;
    margin-bottom: 50px;
}
.Service__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    justify-content: center;
}

/*  */
.Service__card {
    background-color: rgb(255, 255, 255);
    padding: 60px 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border: none;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;
}

.Service__card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(img/br.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;
    transition: opacity 0.4s ease-in-out;

    z-index: 1;
    pointer-events: none;
}

.Service__card:hover::before {
    opacity: 1;
}

.Service__card:hover {
    transform: translateY(-20px);
}

/*  */
.card__img {
    margin-bottom: 20px;
}

.card__img img {
    max-width: 70%;
    height: auto;
}

.Service__card h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

.Service__card p {
    color: #777;
    margin-bottom: 10px;
}

/*  */
/* About Us */
/*  */
.about {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    background-image: url(/img/bg4.png);
}

.About__content {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    align-items: center;
    gap: 3em;
}

.About__img {
    flex: 1;
}

.About__img img {
    border-radius: 20px;
    display: flex;
    width: 42em;
    height: auto;
}

.About__text {
    flex: 1;
}

.About__text li {
    list-style: none;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

}

.About__text li i {
    color: #ff6e8a;
    font-size: 15px;
    margin-right: 10px;
    padding-top: 2px;

    width: 30px;
    height: 30px;
    text-align: center;
    border: 3px solid #ff6e8a;
    border-radius: 50%;
    line-height: 20px;
}

.About__btn {
    margin-top: 40px;
    padding: 20px 30px;
    font-weight: 600;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    white-space: nowrap;
    border: none;
    overflow: hidden;
    background-image: linear-gradient(to right,
            #ff6e8a 0%,
            #ffc07e 50%,
            #ff6e8a 100%);
    background-size: 200% 100%;
    background-position: 0% 0;
    transition: background-position 0.5s ease-in-out;

}

.About__btn:hover {
    background-position: 100% 0;
}

/*  */
/* Number */
/*  */
.number {
    background-image: url(img/bg14.png);
    padding: 80px 0;
    position: relative;
    overflow: hidden;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Number__content {
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    text-align: center;

    padding: 20px 0;
    gap: 80px;
}

.Number__item {
    width: 55%;
}

.Number__item i {
    display: inline-block;
    padding: 5px;
    background-image: linear-gradient(to right, #ff6e8a 0%, #ffc07e 50%, #ff6e8a 100%100%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 45px;
    margin-bottom: 10px;
}

.Number__item p:first-of-type {
    font-size: 45px;
    color: #ff6e8a;
    font-weight: bold;
    margin-bottom: 10px;
}

.Number__item p:last-of-type {
    font-size: 25px;
    font-weight: 300;
}

/*  */
/* Features */
/*  */
.features {
    overflow: hidden;
    position: relative;
    background-image: url(/img/bg16.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.features__content {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.features__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.features__img img {
    max-width: 100%;
    height: auto;
    display: block;

    animation: jiggle 5s infinite alternate;
}

.features__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.features__card {
    display: flex;
    align-items: flex-start;
    padding: 30px 0;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
    gap: 20px;
    box-shadow: -2px 8px 25px 0px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -2px 8px 25px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -2px 8px 25px 0px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 2;
}

.features__card:nth-child(3) {
    translate: 50px 0;
}

.card__icon i {
    font-size: 60px;
    color: #ff6e8a;
    margin-left: 20px;
    line-height: 120px;
}

.features__card h3 {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    margin-top: 0;
    margin-bottom: 8px;
}

.features__card p {
    font-size: 20px;
    color: #777;
    line-height: 1.5;
    margin-bottom: 0;
}

.features__card:hover {
    background-image: linear-gradient(135deg, #ffc07e, #ff6e8a);
    color: white;
    transition: all 0.5s ease-in-out;
}


.features__card:hover h3,
.features__card:hover p,
.features__card:hover i {
    color: white;
    transition: all 0.5s ease-in-out;
}

@keyframes jiggle {

    0%,
    100% {
        transform: translateX(0deg);
    }

    50% {
        transform: translateX(5px) rotate(2deg);
    }

    75% {
        transform: translateX(-5px) rotate(-2deg);
    }
}

/*  */
/* table */
/*  */
.table {
    padding: 50px 0;
    text-align: center;
}

.table__content {
    width: 70%;
    margin: 0 auto;
}

.table__content .title p:first-of-type {
    color: #777;
}

.table__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.table__list .table__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.table__item {
    position: relative;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.table__list .table__item:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 /span 1;
}

.table__list .table__item:nth-child(2) {
    grid-column: 3 / span 1;

}

.table__list .table__item:nth-child(3) {
    grid-column: 1 /span 1;
    grid-row: 2 / span 1;
}

.table__list .table__item:nth-child(5) {
    grid-column: 1 / span 2;
}

.table__list .table__item:nth-child(6) {
    grid-column: 3;
    grid-row: 2 / span 2;
}

.table__overlay {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.table__item:hover .table__overlay {
    top: 0;
    left: 0;
    opacity: 1;
}

.table__item {
    position: relative;
}

.table__overlay-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 15px;
    background-image: linear-gradient(135deg, #ffc07e, #ff6e8a);
    text-align: center;

    transform: translateY(-35px);
    transition: all 1s ease-in-out;
}

.table__overlay-icon i {
    line-height: 15px;
    color: rgb(255, 255, 255);
}

.table__overlay-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left;

    transform: translateY(35px);
    transition: all 1s ease-in-out;
}

.table__overlay-text p:first-of-type {
    color: #ffffff;
    font-size: 28px;
}

.table__overlay-text p:last-of-type {
    color: #b6b6b6;
    font-size: 24px;
}

.table__item:hover .table__overlay-icon,
.table__item:hover .table__overlay-text {
    transform: translateY(0);
}

/*  */
/* blog */
/*  */
.blog {
    padding: 80px 0;
    text-align: center;

    overflow: hidden;
    position: relative;
    background-image: url(/img/bg16.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blog__content {
    max-width: 70%;
    margin: 0 auto;
}

.blog__slider {
    width: 100%;
    display: block !important;
}

.slick__library {
    width: 100%;
    display: block !important;
}

.slick-slide {
    outline: none;
}

.item {
    margin: 15px;
    background-color: #fff5f7;
    border-radius: 15px;
    overflow: hidden;
}

.img__box {
    position: relative;
    width: 100%;
    padding-top: 65%;
}

.img__box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.blog__date {
    position: absolute;
    bottom: 0;
    left: 20px;
    transform: translateY(50%);
    background: linear-gradient(to right, #ff6e8a, #ffc07e);
    color: #fff;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    z-index: 2;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.item h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin: 30px 20px;
    line-height: 1.4;
}

.item p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin: 0 20px 20px;
}

.item>span {
    display: inline-block;
    padding: 15px 20px;
    font-size: 13px;
    color: #555;
    font-weight: 500;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    /*duong ke*/
}

.item>span i {
    color: #ff6e8a;
    margin-right: 5px;
}

.item>span a {
    color: #ff6e8a;
}

.item {}

.item>span:nth-of-type(1) {
    float: left;
    width: 50%;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 300;
}

.item>span:nth-of-type(2) {
    float: right;
    width: 50%;
    text-align: right;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 300;
}

.item::after {
    content: "";
    display: block;
    clear: both;
}

/*  */
/* contact */
/*  */
.contact {
    margin-bottom: -150px;
    position: relative;
    z-index: 10;
}

.contact__content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;

    background-image: url(/img/pattern3.png);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 50px 0;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);

    position: relative;
    z-index: 15;

    animation-name: slide-up;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

.contact__content h3 {
    font-size: 28px;
    font-weight: 600;
    margin-left: 80px;

}

.contact__input {
    display: flex;
    align-items: stretch;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 50%;
    transition: all 0, 5, ease-in-out;
    border: none;
}

.contact__input input[type="text"] {
    padding: 20px 25px;
    font-size: 16px;
    color: #555;
    border: 2px solid transparent;
    text-align: left;
    width: 100%;
}

.contact__input input[type="text"]:hover {
    border-color: #ff6e8a;
}

.contact__btn {

    padding: 20px 30px;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    white-space: nowrap;
    border: none;
    overflow: hidden;
    background-image: linear-gradient(to right,
            #ff6e8a 0%,
            #ffc07e 50%,
            #ff6e8a 100%);
    background-size: 200% 100%;
    background-position: 0% 0;
    transition: background-position 0.5s ease-in-out;


}

.contact__btn:hover {
    background-position: 100% 0;
}

.contact__btn i {
    display: inline-block;
    text-align: center;
}

.contact__btn:hover i {
    transform: translateX(5px);
}

.contact__btn:hover i {
    animation-name: Arrow-Slide;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

@keyframes Arrow-Slide {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*  */
/* link */
/*  */
.link {
    padding-top: 225px;

    position: relative;
    z-index: 1;

    background-image: url('/img/pattern2.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    background-color: #141c24;

}

.link__content {
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

.link__icon {
    width: 30%;
}

.link__icon img {
    width: 150px;
    margin-bottom: 25px;
}

.link__icon p {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #ccc;
    font-size: 15px;
}

.link__icon i {
    color: white;
    font-size: 18px;
    margin-right: 15px;
    padding: 10px;
    background-image: linear-gradient(to right,
            #ff6e8a 0%,
            #ffc07e 50%,
            #ff6e8a 100%);
    border-radius: 50%;
}

.link__list {
    width: 60%;
    display: flex;
    justify-content: space-between;

}

.item__1,
.item__2,
.item__3 {
    width: 30%;
}

.link__list h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}

.link__list h3::after {
    content: '';
    display: block;
    width: 45px;
    height: 5px;
    background-image: linear-gradient(to right,
            #ff6e8a 0%,
            #ffc07e 50%,
            #ff6e8a 100%);
    border-radius: 5px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.link__list a {
    display: flex;
    align-items: center;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    transition: all 0, 3 ease;
}

.link__list a:hover {
    color: white;
}

.link__list a i {
    color: #ccc;
    font-size: 16px;
    margin-right: 10px;
    transition: all 0.3 ease;
}

.link__list a:hover i {
    color: white;
}

/*  */
/* footer */
/*  */
.footer {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: rgb(31, 52, 59);
}

.footer__content {
    width: 70%;
    margin: 0 auto;

    color: whitesmoke;

    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.footer__content p {
    font-size: 18px;
    font-weight: 300;
    color: white
}

.footer__content p span {
    color: #ff6e8a;
}

.footer__content .footer__icon a i {
    width: 30px;
    height: 30px;
    background-color: #777;
    color: white;
    border-radius: 50%;
    font-size: 15px;
    line-height: 2.0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.footer__content .footer__icon a i:hover {
    background-color: #e62b4a;
}

/*  */
/* back to top button */
.backToTop {
    position: absolute;
    z-index: 100;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    text-align: center;
    background-color: #ff6e8a;
    font-weight: bold;
    color: whitesmoke;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;

    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* Wow animation */
.wow {
    visibility: hidden;
}